@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "croissant-one";
  src: url(assets/fonts/croissant-one.regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
